# LA1 Data Wrangling-I

In [3]:
#import pandas
import pandas as pd

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [6]:
df.isnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
111,False,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False,False
113,False,False,False,False,False,False,False,False,False,False
114,False,False,False,False,False,False,False,False,False,False
115,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

Age               0
BMI               0
Glucose           0
Insulin           0
HOMA              0
Leptin            0
Adiponectin       0
Resistin          0
MCP.1             0
Classification    0
dtype: int64

In [8]:
df.notnull()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
111,True,True,True,True,True,True,True,True,True,True
112,True,True,True,True,True,True,True,True,True,True
113,True,True,True,True,True,True,True,True,True,True
114,True,True,True,True,True,True,True,True,True,True
115,True,True,True,True,True,True,True,True,True,True

In [9]:
df.notnull().sum()

Age               116
BMI               116
Glucose           116
Insulin           116
HOMA              116
Leptin            116
Adiponectin       116
Resistin          116
MCP.1             116
Classification    116
dtype: int64

In [10]:
df.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000

In [11]:
df.size

1160

In [12]:
df.ndim

2

In [14]:
df.shape

(116, 10)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             116 non-null    int64
 1   BMI             116 non-null    float64
 2   Glucose         116 non-null    int64
 3   Insulin         116 non-null    float64
 4   HOMA            116 non-null    float64
 5   Leptin          116 non-null    float64
 6   Adiponectin     116 non-null    float64
 7   Resistin        116 non-null    float64
 8   MCP.1           116 non-null    float64
 9   Classification  116 non-null    object
dtypes: float64(7), int64(2), object(1)
memory usage: 9.2+ KB

In [17]:
df = df.dropna()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [20]:
df.Age.astype(float)

0      48.0
1      83.0
2      82.0
3      68.0
4      86.0
       ...
111    45.0
112    62.0
113    65.0
114    72.0
115    86.0
Name: Age, Length: 116, dtype: float64

In [22]:
df.Age = df.Age.astype(float)

In [23]:
df

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19,6.777364,90.2800,14.110000,4.35000,90.090,2

In [25]:
df.groupby(by=['Age']).size()

Age
24.0    1
25.0    1
28.0    1
29.0    2
32.0    1
34.0    3
35.0    2
36.0    2
38.0    2
40.0    2
41.0    1
42.0    2
43.0    3
44.0    4
45.0    7
46.0    3
47.0    1
48.0    4
49.0    5
50.0    1
51.0    4
52.0    1
53.0    1
54.0    3
55.0    1
57.0    1
58.0    1
59.0    2
60.0    2
61.0    1
62.0    2
64.0    2
65.0    3
66.0    5
67.0    1
68.0    3
69.0    5
71.0    3
72.0    3
73.0    2
74.0    1
75.0    4
76.0    4
77.0    2
78.0    1
81.0    1
82.0    2
83.0    1
85.0    2
86.0    3
89.0    1
dtype: int64

In [26]:
df.dtypes

Age               float64
BMI               float64
Glucose             int64
Insulin             int32
HOMA              float64
Leptin            float64
Adiponectin       float64
Resistin          float64
MCP.1             float64
Classification     object
dtype: object

In [27]:
df.sort_values('Age')

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
13,24.0,18.670000,88,6,1.330000,8.8800,36.060000,6.85000,632.220,1
12,25.0,22.860000,82,4,0.827271,20.4500,23.670000,5.14000,313.730,1
32,28.0,35.855815,87,8,1.840410,68.5102,4.794200,21.44366,358.624,1
22,29.0,32.270788,84,5,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5,1.145436,35.5900,26.720000,4.58000,174.800,1
...,...,...,...,...,...,...,...,...,...,...
87,85.0,27.688778,196,51,25.050342,70.8824,7.901685,55.21530,1078.359,2
4,86.0,21.111111,92,3,0.805386,6.6994,4.819240,10.57635,773.920,1
78,86.0,26.666667,201,41,20.630734,47.6470,5.357135,24.37010,1698.440,2
115,86.0,27.180000,138,19,6.777364,90.2800,14.110000,4.35000,90.090,2
6,89.0,22.700000,77,4,0.890787,6.9640,5.589865,12.93610,1256.083,1

In [29]:
df.sort_values('Age', ascending=False)

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
6,89.0,22.700000,77,4,0.890787,6.9640,5.589865,12.93610,1256.083,1
115,86.0,27.180000,138,19,6.777364,90.2800,14.110000,4.35000,90.090,2
78,86.0,26.666667,201,41,20.630734,47.6470,5.357135,24.37010,1698.440,2
4,86.0,21.111111,92,3,0.805386,6.6994,4.819240,10.57635,773.920,1
49,85.0,26.600000,96,4,1.056602,7.8500,7.931700,9.61350,232.006,1
...,...,...,...,...,...,...,...,...,...,...
22,29.0,32.270788,84,5,1.203832,45.6196,6.209635,24.60330,904.981,1
11,29.0,23.010000,82,5,1.145436,35.5900,26.720000,4.58000,174.800,1
32,28.0,35.855815,87,8,1.840410,68.5102,4.794200,21.44366,358.624,1
12,25.0,22.860000,82,4,0.827271,20.4500,23.670000,5.14000,313.730,1
13,24.0,18.670000,88,6,1.330000,8.8800,36.060000,6.85000,632.220,1

In [31]:
df.rename(columns={'Age':'Years Old'})

,Years Old,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48.0,23.500000,70,2,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83.0,20.690495,92,3,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82.0,23.124670,91,4,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68.0,21.367521,77,3,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86.0,21.111111,92,3,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45.0,26.850000,92,3,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62.0,26.840000,100,4,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65.0,32.050000,97,5,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72.0,25.590000,82,2,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86.0,27.180000,138,19,6.777364,90.2800,14.110000,4.35000,90.090,2